/* stylelint-disable max-line-length */

@font-face {
  font-family: 'FM Algebra Web';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/FMAlgebra-Light-woff2.woff2') format('woff2');
}

@font-face {
  font-family: 'FM Algebra Web';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/FMAlgebra-Regular-woff2.woff2') format('woff2');
}

@font-face {
  font-family: 'FM Algebra Web';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/FMAlgebra-Medium-woff2.woff2') format('woff2');
}
@font-face {
  font-family: 'FM Review Web';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/FMReview-Regular-woff2.woff2') format('woff2');
}

@font-face {
  font-family: 'FM Review Web';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/FMReview-Medium-woff2.woff2') format('woff2');
}

@font-face {
  font-family: 'FM Review Web';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/FMReview-Bold-woff2.woff2') format('woff2');
}
